.btn {
	color: white;
	/* background-color: red; */
	border-radius: 5px;
	font-size: larger;
	display: block;
	padding: 5px;
	margin: 10px auto;
}

/* .App {
	width: 100%;
	
} */
.form {
	width: 82%;
	height: 95vh;
	/* background-color:blanchedalmond; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 80px;
	height: 80px;
}
p {
	color: red;
}
.Tabledata {
	/* border:2px solid red; */
	margin: 25px;
	/* border: 1px red solid; */

	/* border:1px black solid; */

	width: 90%;
	padding: 5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	justify-content: center;
	align-items: center;
}
.sc-crXcEl {
	font-weight: bold;
	font-size: 18px;
	color: black !important;
}

.sc-hKMtZM {
	font-size: 18px;
}

.fname {
	margin-right: 20px !important;
	width: unset;
}
.gname {
	margin-right: 20px !important;
	width: unset;
}
.button {
	font-size: 20px;
}
.mydiv {
	display: flex;
	width: 100%;

	justify-content: center;
	align-items: center;
	margin: 2px;
}
body {
	background-color: #f8f8ff;
}
.sub_form {
	/* box-shadow: 15px 15px 15px 15px lightblue; */
	/* box-shadow: 10px 10px 5px lightblue;
	border:1px solid lightblue; */

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	width: 40%;
	margin: 2px;
	/* border:1px black solid; */
	padding: 15px;
	z-index: 10;
margin-left: 25%;
border-radius: 20px;

}
/* .bnAwAJ
{
	max-width: 100% !important;
	min-width: 0px !important;
}
.jfrgbA
{
	padding: 0% !important;
} */
.email {
	margin-right: 20px !important;
	width: unset;
}
.ppc {
	margin-right: 20px !important;
	width: unset;
}
.gender {
	margin-right: 20px !important;
	width: unset;
}
.country {
	margin-right: 20px !important;
	width: unset;
	margin-left:8px;
}
.gencoun {
	justify-content: space-between;
	/* margin-left:5px; */
}
